<div class="row">
  
  <!-- Principal Search -->
  <div class="col-md-12" *ngIf="!email && !gathered['tasklist']">
    <nb-card>
      <nb-card-body>
        <button nbButton outline status="success" (click)="searchService.activateSearch()">
            <i style="font-size: 25px;" class="nb-search"></i>
        </button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4 offset-md-4"  *ngIf="!email && !gathered['tasklist']">
    <nb-card size="medium" class="border-default" id="centralInfo">
      <nb-card-body>
        <div>
            <img style="position:absolute; width: 50%; top: 0; left:0; right: 0; bottom: 0; margin:auto;" src="assets/images/iKy-Logo.png"> 
        </div>

      </nb-card-body>
      <nb-card-footer>
        <div class="details">
          <div class="title">
            Gathering information
          </div>
          <div class="description">
              To collect information it is necessary to enter an e-mail address in the search window that can be activated from the magnifying glass present in the button above, below or from the magnifying glass located in the upper right corner.
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-md-12" *ngIf="!email && !gathered['tasklist']">
    <nb-card>
      <nb-card-body>
        <button nbButton outline status="success" (click)="searchService.activateSearch()">
            <i style="font-size: 25px;" class="nb-search"></i>
        </button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxxl-12 col-xxl-12 col-md-12" *ngIf="photo?.length > 0">
    <ngx-profile-photos [data]="photo"></ngx-profile-photos>
  </div>

  <div class="col-xxxl-12 col-xxl-12 col-md-12" *ngIf="name?.length > 0"> <!-- put more complex condition -->
    <ngx-profile-data [name]="name" [location]="location" [organization]="organization"></ngx-profile-data>
  </div>

  <div class="col-xxxl-12 col-xxl-12 col-md-12" *ngIf="social?.length > 0">
    <ngx-profile-social [social]="social"></ngx-profile-social>
  </div>

</div>
