  <nb-card size="small" class="border-default">
    <nb-card-header (click)="openDialog(dialogTwitterResume)">
      TWITTER Resume
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body style="margin: 0px; padding: 0px; text-align: center; overflow: hidden;">

        <div #nbCardTwitterResume>
            <ngx-charts-tree-map
              [view]="[width, height]"
              [scheme]="colorScheme"
              [results]="twitterResume">
            </ngx-charts-tree-map>
        </div>

    </nb-card-body>
  </nb-card>


  <ng-template #dialogTwitterResume let-data let-ref="dialogRef">
    <nb-card [style.width]="width * 2" [style.height]="height * 2" style="background-color: rgba(0, 0, 0, 0.8);">
      <nb-card-header>TWITTER Resume</nb-card-header>
      <nb-card-body style="overflow: hidden;">

        <div style="fill: #05fcfc !important; font-size: 35px !important;">
            <ngx-charts-tree-map
              [view]="[width * 1.8, height * 1.8]"
              [scheme]="colorScheme"
              [results]="twitterResume">
            </ngx-charts-tree-map>
        </div>

      </nb-card-body>
    </nb-card>
  </ng-template>
