@import '../../../../@theme/styles/themes';
@import '~@nebular/bootstrap/styles/hero-buttons';

@include nb-install-component() {

  .fa-stack { font-size: 1.0em; }

  i { 
    vertical-align: middle; 
    margin-right: 10px; 
  }
       
  .contact {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    color: nb-theme(color-fg);
    padding: 0px;

    // border-bottom: 1px solid nb-theme(separator);
    // border-top: 1px solid nb-theme(separator);

    // &:not(:last-child) {
    //   border-bottom: 1px solid nb-theme(separator);
    // }
  }

  .i-contact {
    font-size: 2rem;
    cursor: pointer;
  }

  .pf-char:before{
      font-family: Arial; /* your font family here! */
      font-weight: bold;
      content: attr(data-char-content);
  }

  .time {
    font-size: 0.875rem;
    font-weight: nb-theme(font-weight-light);
    text-transform: uppercase;
  }

  .info-container {
    // @include nb-ltr(margin-left, 0.875rem);
    // @include nb-rtl(margin-right, 0.875rem);
    @include nb-ltr(margin-left, 0rem);
    @include nb-rtl(margin-right, 0rem);
  }

  .user-name {
    font-family: nb-theme(font-primary);
    font-weight: nb-theme(font-weight-bold);
    color: nb-theme(color-fg-heading);
    font-size: 1rem;
    white-space: nowrap; 
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis; 

    @include nb-for-theme(cosmic) {
      font-weight: nb-theme(font-weight-bolder);
    }
  }

  .user-title {
    font-size: 0.875rem;
    font-weight: nb-theme(font-weight-light);
    // text-transform: uppercase;
  }

  /* borders  */ 

  .border-default {
    border: 2px solid transparent;
    border-image: url("assets/images/border-1-default.svg") ;
    border-image-slice: 20;
    border-image-repeat: stretch;
    border-image-outset: 1;
    border-image-width: 5;
  }
}
